h1 {
	font-size: 75px
	

}

ul{
	font-size: 20px;
	align-content:
}

nav {
	bottom: 0;
	position: all;
	width: 100%;
}

nav{
	font-size: 20px;
	
}

body {
	background-image: url("https://images.unsplash.com/photo-1517799094725-e3453440724e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}

.BackgroundColor{
	background-color: lightgrey;
	border-style: solid;
	border-width: 1px;
	border height: 1px;

}

.FontSize{
	font-size: 40px;

}



.ParaAbout{
	font-size: 25px;
	background-image: url();
}

.source{
	font-size: 25px;
}

.imgClass{
	float: left;
	border-style: solid;
	border-width: 1px;
	border height: 1px;
}

.Projects{
	background-image: url();
}

.h1class{
	background-color: lightgrey;
	border-style: solid;
	border-width: 1px;
	border height: 1px;
}


}

.thclass{
	background-color: red;
}
